<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900361906204-rj91moih8m8629cnv3cp79pfcjv5qilv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900361906204-rj91moih8m8629cnv3cp79pfcjv5qilv</string>
	<key>API_KEY</key>
	<string>AIzaSyCeTe52qPbyWhmsnMxCy5AVyo75HT6lXRc</string>
	<key>GCM_SENDER_ID</key>
	<string>900361906204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qsmsmobile.app</string>
	<key>PROJECT_ID</key>
	<string>qsmsmobile-bd61f</string>
	<key>STORAGE_BUCKET</key>
	<string>qsmsmobile-bd61f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900361906204:ios:963840a9af89c8fc6897d9</string>
</dict>
</plist>